<h1>ニコニコ動画ランキング</h1>

<ul class="nav nav-tabs">
    <li role="presentation" <%= 'class=active' if params[:cate] == "all" %>>
        <a href="/ranking/history/all">全て</a>
    </li>
    <li role="presentation" class="dropdown <%= 'active' if params[:cate] == "g_ent2" or params[:cate] == "ent" or params[:cate] == "music" or params[:cate] == "sing" or params[:cate] == "play" or params[:cate] == "dance" or params[:cate] == "vocaloid" or params[:cate] == "nicoindies" %>">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            エンタメ・音楽<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="<%= 'active' if params[:cate] == "g_ent2"%>"><a href="/ranking/history/g_ent2">合算</a></li>
            <li class="<%= 'active' if params[:cate] == "ent"%>"><a href="/ranking/history/ent">エンターテイメント</a></li>
            <li class="<%= 'active' if params[:cate] == "music"%>"><a href="/ranking/history/music">音楽</a></li>
            <li class="<%= 'active' if params[:cate] == "sing"%>"><a href="/ranking/history/sing">歌ってみた</a></li>
            <li class="<%= 'active' if params[:cate] == "play"%>"><a href="/ranking/history/play">演奏してみた</a></li>
            <li class="<%= 'active' if params[:cate] == "dance"%>"><a href="/ranking/history/dance">踊ってみた</a></li>
            <li class="<%= 'active' if params[:cate] == "vocaloid"%>"><a href="/ranking/history/vocaloid">VOCALOID</a></li>
	    <li class="<%= 'active' if params[:cate] == "nicoindies"%>"><a href="/ranking/history/nicoindies">ニコニコインディーズ</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown <%= 'active' if params[:cate] == "g_life2" or params[:cate] == "animal" or params[:cate] == "cooking" or params[:cate] == "nature" or params[:cate] == "travel" or params[:cate] == "sport" or params[:cate] == "lecture" or params[:cate] == "drive" or params[:cate] == "history" %>">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            生活・一般・スポ<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="<%= 'active' if params[:cate] == "g_life2"%>"><a href="/ranking/history/g_life2">合算</a></li>
            <li class="<%= 'active' if params[:cate] == "animal"%>"><a href="/ranking/history/animal">動物</a></li>
            <li class="<%= 'active' if params[:cate] == "cooking"%>"><a href="/ranking/history/cooking">料理</a></li>
            <li class="<%= 'active' if params[:cate] == "nature"%>"><a href="/ranking/history/nature">自然</a></li>
            <li class="<%= 'active' if params[:cate] == "travel"%>"><a href="/ranking/history/travel">旅行</a></li>
            <li class="<%= 'active' if params[:cate] == "sport"%>"><a href="/ranking/history/sport">スポーツ</a></li>
            <li class="<%= 'active' if params[:cate] == "lecture"%>"><a href="/ranking/history/lecture">ニコニコ動画講座</a></li>
            <li class="<%= 'active' if params[:cate] == "drive"%>"><a href="/ranking/history/drive">車載動画</a></li>
            <li class="<%= 'active' if params[:cate] == "history"%>"><a href="/ranking/history/history">歴史</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown <%= 'active' if params[:cate] == 'g_politics'%>">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aira-expanded="false">
            政治<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="<%= 'active' if params[:cate] == "g_politics"%>"><a href="/ranking/history/g_politics">合算</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown <%= 'active' if params[:cate] == 'g_tech' or params[:cate] == 'science' or params[:cate] == 'tech' or params[:cate] == 'handcraft' or params[:cate] == 'make'%>">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aira-expanded="false">
            科学・技術<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="<%= 'active' if params[:cate] == "g_tech"%>"><a href="/ranking/history/g_tech">合算</a></li>
            <li class="<%= 'active' if params[:cate] == "science"%>"><a href="/ranking/history/science">科学</a></li>
            <li class="<%= 'active' if params[:cate] == "tech"%>"><a href="/ranking/history/tech">ニコニコ技術部</a></li>
            <li class="<%= 'active' if params[:cate] == "handcraft"%>"><a href="/ranking/history/handcraft">ニコニコ手芸部</a></li>
            <li class="<%= 'active' if params[:cate] == "make"%>"><a href="/ranking/history/make">作ってみた</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown <%= 'active' if params[:cate] == 'g_culture2' or params[:cate] == 'anime' or params[:cate] == 'game' or params[:cate] == 'toho' or params[:cate] == 'imas' or params[:cate] == 'radio' or params[:cate] == 'draw'%>">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aira-expanded="false">
            アニメ・ゲーム・絵<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="<%= 'active' if params[:cate] == "g_culture2"%>"><a href="/ranking/history/g_culture2">合算</a></li>
            <li class="<%= 'active' if params[:cate] == "anime"%>"><a href="/ranking/history/anime">アニメ</a></li>
            <li class="<%= 'active' if params[:cate] == "game"%>"><a href="/ranking/history/game">ゲーム</a></li>
            <li class="<%= 'active' if params[:cate] == "toho"%>"><a href="/ranking/history/toho">東方</a></li>
            <li class="<%= 'active' if params[:cate] == "imas"%>"><a href="/ranking/history/imas">アイドルマスター</a></li>
            <li class="<%= 'active' if params[:cate] == 'radio'%>"><a href="/ranking/history/radio">ラジオ</a></li>
            <li class="<%= 'active' if params[:cate] == 'draw'%>"><a href="/ranking/history/draw">描いてみた</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown <%= 'active' if params[:cate] == 'g_other' or params[:cate] == 'are' or params[:cate] == 'diary' or params[:cate] == 'other'%>">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aira-expanded="false">
            その他<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="<%= 'active' if params[:cate] == "g_other"%>"><a href="/ranking/history/g_other">合算</a></li>
            <li class="<%= 'active' if params[:cate] == "are"%>"><a href="/ranking/history/are">例のアレ</a></li>
            <li class="<%= 'active' if params[:cate] == "diary"%>"><a href="/ranking/history/diary">日記</a></li>
            <li class="<%= 'active' if params[:cate] == "other"%>"><a href="/ranking/history/other">その他</a></li>
        </ul>
    </li>
</ul>

<table class="table table-hover">
    <thead>
        <tr><th>順位</th><th colspan="2">タイトル</th><th>コメント</th><th>再生数</th></tr>
    </thead>
    <tbody>
        <% i = 0 %>
        <% @products.each do |item| %>
        <% i += 1%>
        <tr>
            <% if i < 4 %>
                <td><h1><span class="label label-warning"><%= i %>位</span></h1></td>
            <% elsif i < 11 %>
                <td><h2><span class="label label-info"><%= i %>位</span></h2></td>
            <% elsif i < 51 %>
                <td><h3><span class="label label-success"><%= i %>位</span></h3></td>
            <% else %>
                <td><h4><span class="label label-default"><%= i %>位</span></h4></td>
            <% end %>
            <td><a href="http://www.nicovideo.jp<%= item["link"] %>" target="_blank"><img src="<%= item["img"] %>" width="160"></a></td>
            <td><a href="http://www.nicovideo.jp<%= item["link"] %>" target="_blank"><%= item["title"] %></a><br /><%= item["date"] %></td>
            <td><%= item["comment"] %></td>
            <td><%= item["view"] %></td>
        </tr>
        <% end %>
    </tbody>
</table>
